[submodule "libs/sferes2"]
	path = libs/sferes2
	url = https://github.com/gaurav-dixitv/sferes2.git
[submodule "libs/cvt_map_elites"]
	path = libs/cvt_map_elites
	url = https://github.com/gaurav-dixitv/cvt_map_elites.git
[submodule "environments/rovers"]
	path = environments/rovers
	url = https://github.com/gaurav-dixitv/rovers.git
[submodule "libs/nn2"]
	path = libs/nn2
	url = https://github.com/gaurav-dixitv/nn2.git
